*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background: linear-gradient(#fff, #ffd6d6);
}

.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 1.2rem;

}

.nav-list li{
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-list li a{
    color: #000;
    text-decoration: none;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    margin-left: 5rem;
}